<form action='/' method='GET'>
  <input placeholder='word' name='word' value='<%= @word %>'>
  <input placeholder='positive' name='positive' value='<%= @positive %>'>
  <input placeholder='negative' name='negative' value='<%= @negative %>'>
  <button>Submit</button>
</form>


<textarea rows='20' cols='100'><%= @output %></textarea>